<!-- footer.html -->

	<footer>
        <div class="container">

            <div class="row">
                <div class="col-md-12">
                    <p class="copyright text-muted">© 听风留的博客</p>
                </div>
            </div>
        </div>
 </footer>
<script>
	$(function(){
			var hh=$("header").outerHeight();
			var zuo=$("#menu-left").outerHeight();
			var you=$(".docs-content").outerHeight();
			var wh=$(window).height();
			var pp=$("section").css("padding-top").replace("px","")*1;
			if (zuo<you) zuo=you;
			if (hh+zuo>wh) $("section").height(zuo);
			else $("section").outerHeight(wh-hh-$("footer").height()-pp);

	});
</script>
